.panel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.color-blue {
  background-color: var(--first-brand-color);
}
.color-green {
  background-color: var(--second-brand-color);
}
.color-yellow {
  background-color: var(--third-brand-color);
}


/* START */
